body{
	background: #E5E5E5;
}
img.loginimage{
	position: relative;
	width: 243px;
	height: 222px;
	left: 45px;
	margin-top: 10%;
}

div.inputgroup{
	width: 88%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p.logintitle{
	position: relative;
	margin-top: 10%;

	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 41px;

	color: #4A690B;
}

p.inputhead{
	position: relative;
	width: 100%;
	height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: -5%;
	margin-bottom: -1%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #000000;
	opacity: 0.4;
}

input.logininput{
	position: relative;
	width: 99%;
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	color: inherit;
	outline: none;
	text-align: center;
}

button.loginbtn{
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 100%;
	height: 59px;
	margin-top: 15%;
	border: 1px solid #000000;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 15px;
	text-align: center;
}

p.loginbtntxt{
	display: block;
	width: 100%;
	margin-top: 2.5%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 38px;
	align-items: center;
	text-align: center;

	color: #000000;
	opacity: 0.95;
}

img.loginbtnimg{
	padding-top: 1%;
}