*{
	margin: 0;
	padding: 0;
}

body{
	background: #E5E5E5;
}

img.loginimage{
	position: relative;
	width: 243px;
	height: 222px;
	left: 45px;
	margin-top: 10%;
}

div.inputgroup{
	width: 88%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p.logintitle{
	position: relative;
	margin-top: 10%;

	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 41px;

	color: #4A690B;
}

p.inputhead{
	position: relative;
	width: 100%;
	height: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 6%;
	margin-bottom: -1%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #000000;
	opacity: 0.4;
}

input.logininput{
	position: relative;
	width: 99%;
	height: 38px;
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	color: inherit;
	outline: none;
	text-align: center;
}

button.loginbtn{
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 100%;
	height: 59px;
	margin-top: 15%;
	border: 1.39px solid #000000;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: 15px;
	text-align: center;
}

p.loginbtntxt{
	display: block;
	width: 100%;
	margin-top: 2.5%;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 38px;
	align-items: center;
	text-align: center;

	color: #000000;
	opacity: 0.99;
}

img.loginbtnimg{
	padding-top: 1%;
}



img.tutionimage{
	width: 100%;
	margin: 0;
	padding: 0;
}

.tutionwrap{
	position:relative
}

.tutionbutton{
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	text-align: center;
}

.tutionbuttonmodel{
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 85%;
	height: 59px;
	border: 2px solid #EB3442;
	box-sizing: border-box;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.basictitle {
	position: relative;
	margin-top: 10%;

	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 41px;

	color: #636363;
}

.basicimage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	margin-top: 5%;
}

.basictext{
	position: relative;
	margin-top: 10%;
	margin-left: 25px;

	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;

	color: #636363;
}

.basicbutton{
	display: block;
	margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 90%;
	height: 59px;
	border: 2px solid orange;
	box-sizing: border-box;
	background-color: #E5E5E5;
	border-radius: 15px;
	text-align: center;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}

.fileuploadbdn{
	display: block;
	margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	width: 90%;
	height: 59px;
	border: 2px solid orange;
	box-sizing: border-box;
	background-color: #E5E5E5;
	border-radius: 15px;
	text-align: center;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}

.imagearea img{
	display: block;
	margin-top: 7%;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 auto;
  font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}